# For ansible-tox-linters
black==23.3.0 ; python_version >= '3.7'
flake8
yamllint

# Unit test runner
pytest-ansible ; python_version >= '3.9'
git+https://github.com/ansible-community/pytest-ansible-units.git ; python_version < '3.9'
pytest-xdist

# For integration tests
pexpect
