[defaults]
# Parent of namespace directories (e.g. .../ansible_collections). Override with ANSIBLE_COLLECTIONS_PATH when needed.
collections_path = ../../..
host_key_checking = False
no_log = False

[persistent_connection]
# Keep persistent connections alive for network devices
connect_timeout = 3600
command_timeout = 3600

[libssh_connection]
key_exchange_algorithms = +diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1
publickey_accepted_algorithms = +ssh-rsa
hostkeys = +ssh-rsa