---
name: Integration
on:
  pull_request_target:
    branches: [main]
    types:
      - labeled
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  safe-to-test:
    if: >-
      github.event.label.name == 'safe to test' ||
      github.event.action != 'labeled'
    uses: ansible-network/github_actions/.github/workflows/safe-to-test.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  integration:
    uses: ansible-content-actions/.github/workflows/integration.yml@main
    needs:
      - safe-to-test
    with:
      network_os: cisco.ios.ios
      collection_pre_install: >-
        git+https://github.com/ansible-collections/ansible.utils.git
        git+https://github.com/ansible-collections/ansible.netcommon.git
    secrets:
      cml_ssh_password: ${{ secrets.CML_SSH_PASSWORD }}
      virl_host: ${{ secrets.VIRL_HOST }}
      virl_password: ${{ secrets.VIRL_PASSWORD }}
