---
# With much help from:
# https://community.sonarsource.com/t/how-to-use-sonarcloud-with-a-forked-repository-on-github/7363/30
# https://community.sonarsource.com/t/how-to-use-sonarcloud-with-a-forked-repository-on-github/7363/32

name: SonarCloud
on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  codecoverage:
    name: "Code Coverage | Python 3.12"
    runs-on: ubuntu-latest

    env:
      PY_COLORS: "1"
      python_version: "3.12"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: false

      - name: Set up Python ${{ env.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python_version }}

      - name: Install Python + testing dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install ansible-core pytest pytest-cov pytest-ansible-units pytest-forked pytest-xdist

      - name: Install ansible collection dependencies
        run: |
          ansible-galaxy collection install git+https://github.com/ansible-collections/ansible.utils.git
          ansible-galaxy collection install git+https://github.com/ansible-collections/ansible.netcommon.git

      - name: Print environment info
        run: |
          ansible --version
          python3 -m pip list

      - name: Run unit tests with coverage
        run: |
          pytest tests/unit -v --cov-report xml --cov=./

      - name: Save PR number for PR runs
        if: github.event_name == 'pull_request'
        run: |
          echo "${{ github.event.pull_request.number }}" > pr_number.txt

      - name: Upload PR number
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: pr_number
          path: pr_number.txt

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml

  sonar:
    name: Upload to SonarCloud
    runs-on: ubuntu-latest
    needs: codecoverage
    if: github.event_name == 'pull_request'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: false

      - uses: actions/download-artifact@v4
        with:
          name: pr_number
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/download-artifact@v4
        with:
          name: coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set PR number
        run: |
          if [ -f pr_number.txt ]; then
            echo "PR_NUMBER=$(cat pr_number.txt)" >> $GITHUB_ENV
            echo "Running SonarQube scan for PR #$PR_NUMBER"
          else
            echo "pr_number.txt not found, skipping SonarQube PR decoration."
          fi

      - name: Get PR info
        uses: octokit/request-action@v2.x
        id: pr_info
        with:
          route: GET /repos/{repo}/pulls/{number}
          repo: ${{ github.event.repository.full_name }}
          number: ${{ env.PR_NUMBER }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set PR info into env
        run: |
          echo "PR_BASE=${{ fromJson(steps.pr_info.outputs.data).base.ref }}" >> $GITHUB_ENV
          echo "PR_HEAD=${{ fromJson(steps.pr_info.outputs.data).head.ref }}" >> $GITHUB_ENV

      - name: Add base branch
        run: |
          gh pr checkout ${{ env.PR_NUMBER }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.scm.revision=${{ github.sha }}
            -Dsonar.pullrequest.key=${{ env.PR_NUMBER }}
            -Dsonar.pullrequest.branch=${{ env.PR_HEAD }}
            -Dsonar.pullrequest.base=${{ env.PR_BASE }}
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.qualitygate.wait=true
