---
name: SonarCloud
on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request_target:
    branches: [main]

jobs:
  sonar:
    name: SonarCloud
    uses: ansible/ansible-content-actions/.github/workflows/sonarcloud.yaml@main
    with:
      python_version: "3.12"
      galaxy_dependencies: |
        git+https://github.com/ansible-collections/ansible.utils.git
        git+https://github.com/ansible-collections/ansible.netcommon.git
    secrets:
      SONAR_TOKEN: ${{ secrets.ANSIBLE_COLLECTIONS_ORG_SONAR_TOKEN_CICD_BOT }}
