---
name: SonarCloud
on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request_target:
    branches: [main]

jobs:
  sonar:
    name: "SonarCloud Coverage"
    runs-on: ubuntu-latest

    env:
      PY_COLORS: "1"
      python_version: "3.12"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: false

      - name: Set up Python ${{ env.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python_version }}

      - name: Install Python + testing dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install ansible-core pytest pytest-cov pytest-ansible-units pytest-forked pytest-xdist

      - name: Install ansible collection dependencies
        run: |
          ansible-galaxy collection install git+https://github.com/ansible-collections/ansible.utils.git
          ansible-galaxy collection install git+https://github.com/ansible-collections/ansible.netcommon.git

      - name: Print environment info
        run: |
          ansible --version
          python3 -m pip list

      - name: Export PR info
        run: |
          echo "PR_NUMBER=${PR_NUMBER}" >> $GITHUB_ENV
          echo "PR_BASE=${PR_BASE}" >> $GITHUB_ENV
          echo "PR_HEAD=${PR_HEAD}" >> $GITHUB_ENV
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PR_BASE: ${{ github.event.pull_request.base.ref }}
          PR_HEAD: ${{ github.event.pull_request.head.ref }}

      - name: Checkout PR branch code
        run: |
          git fetch origin pull/${{ github.event.pull_request.number }}/head:pr
          git checkout pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run unit tests with coverage
        run: |
          pytest tests/unit -v --cov-report xml --cov=./

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.ANSIBLE_COLLECTIONS_ORG_SONAR_TOKEN_CICD_BOT }}
        with:
          args: >
            -Dsonar.scm.revision=${{ github.event.pull_request.head.sha }}
            -Dsonar.pullrequest.key=${{ env.PR_NUMBER }}
            -Dsonar.pullrequest.branch=${{ env.PR_HEAD }}
            -Dsonar.pullrequest.base=${{ env.PR_BASE }}
            -Dsonar.python.coverage.reportPaths=coverage.xml
